.titre-livreor
{
	text-align:center;
	padding-top: 5%;
}
.article-connexion
{
	background-color: #7cd3d587;
	width: 59%;
    text-align: center;
    padding: 2%;
}
.form-connexion
{
	text-align: -webkit-center;
}
.envoi-connexion
{
	width: 15%;
    margin-bottom: 2%;
}
.envoi-deconnexion
{
	width: 15%;

}