body{
    background: url("fdecran.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
header
{
z-index: 10000000;
}
.align{
    margin-top: -5%;
    margin-bottom: 4%;
    display: flex;
    flex-direction: row;
    text-align: row;
    font-size: 30px;

   
}

.nom{
    text-shadow: -1px -2px white, 3px 1px rgb(6, 196, 243);
margin-right: 10px;
}


#blue{
    text-shadow: -1px -1px white, 3px 1px rgb(6, 196, 243);
}

#bonne p{
    font-size: 25px;
    padding-top: -20%;
    margin-top: 34%;

}


#logo{
    margin-bottom:1%;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    background-color: rgb(29, 27, 27);
}

ul 
{
    display: flex;
    flex-direction: row;
    margin: 0;
}

li{
    list-style: none;
    padding: 15px;   
}

li a{ 
    color: white; 
   text-decoration: none; 
   font-size: 20px; 
   
}

li:hover{
    background-color: rgb(6, 196, 243);


}
